include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include raco *.py
recursive-include raco *.pth
recursive-include assets *.png *.jpg *.jpeg
include demo.ipynb
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude .DS_Store
